@mixin barNav {
    background-color: #422852;
    color: #C192F0;
    font-family: 'Montserrat', sans-serif;
    border: none;    
}
@mixin titulos {
    color: #4B4052;
    font-family: 'Montserrat', sans-serif;
}
